*{
    margin: 0;
    padding: 0;
}
body{
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-image: url("/vandebharat\ seat.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
       
    }
.button{
    width: 600px;
    height: 550px;
    /* background-color: rgb(129, 136, 136); */
    margin-left: 300px;
    padding-left: 40px;
    padding-top: 25px;
} 
h1{
    font-size: 40px;
    text-align: center;
    color: rgb(240, 240, 247);

}   
.A{
    height: 100px;
    width: 100px;
    font-size: 30px;
}
.B{
    height: 100px;
    width: 100px;
    font-size: 30px;
}
.C{
    height: 100px;
    width: 100px;
    font-size: 30px;
}
.D{
    height: 100px;
    width: 100px;
    font-size: 30px;
}
.E{
    height: 100px;
    width: 100px;
    font-size: 30px;
}
.payment{
    font-size: 20px;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    margin-left: 180px;
    margin-top: 8px;
    background-color: chartreuse;

}
         